.scroll-horizontal-container {
  position: absolute;
  top: 50%;
  left: 1.5rem;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
}

.scroll-horizontal-circle {
  width: 60px;
  height: 60px;
  border: 1px solid black;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: transform 0.3s ease;
  overflow: visible;
}

.scroll-horizontal-container.hovered .scroll-horizontal-circle {
  transform: scale(0.92);
}

.scroll-horizontal-arrow {
  width: 100px;
  height: 20px;
  position: absolute;
  left: -40px;
  top: 50%;
  transform: translateY(-50%);
  transition: left 0.3s ease;
}

.scroll-horizontal-container.hovered .scroll-horizontal-arrow {
  left: -19px;
}
