.gallery-page {
  position: relative;
  background-color: #111;
  padding-bottom: 6rem;
  color: white;
  font-family: 'Inter', sans-serif;
}

.gallery-page-hero {
  position: relative;
  height: 90vh;
  text-align: center;
  overflow: hidden;
  color: white;
}
.gallery-page-hero-slider {
  height: 100%;
}

.hero-slide-gellery {
  position: relative;
  height: 100%;
}

.hero-slide-gallery img {
  width: 100%;
  height: 90vh;
  object-fit: cover;
  filter: brightness(0.6); /* Oscurecimiento sutil */
  pointer-events: none;
}


.gallery-title-gallery {
  font-family: 'Playfair Display', serif;
  font-size: 5rem;
  margin-bottom: 1rem;
  color: white;
  text-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
}

.gallery-subtitle-gallery {
  font-size: 1.5rem;
  max-width: 720px;
  margin: 0 auto;
  color: #ccc;
  text-shadow: 0 2px 12px rgba(0, 0, 0, 0.5);
}

.hero-text-overlay-gallery {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 0 2rem;
  z-index: 2;
}



.gallery-page-intro-section {
  padding: 3rem 2rem;
  text-align: center;
  color: #ccc;
  font-family: 'Inter', sans-serif;
}

.gallery-page-intro-text {
  font-size: 1.5rem;
  max-width: 1000px;
  margin: 0 auto 2rem;
  line-height: 1.6;
  color: #ddd;
}

.gallery-page-intro-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
  width: 400px;
  margin: 0 auto 35px;
}

.see-more-link {
  font-size: 1.3rem;
  color: #ccc;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  transition: color 0.3s ease, border-color 0.3s ease;
  text-decoration: none;
}


.gallery-page-intro-cta:hover .scroll-horizontal-circle-white {
transform: scale(0.92);
color: #ccc;
}
.gallery-page-intro-cta:hover .scroll-horizontal-arrow-white {
left: -19px;
}

.about-link-cta{
  text-decoration: none;
}

.gallery-divider-line {
  height: 1px;
  width: 80%;
  margin: 0 auto;
  background: linear-gradient(to right, transparent, #444, transparent);
  opacity: 0.4;
}





.gallery-page-grid {
  columns: 3 300px;
  column-gap: 1.5rem;
  padding: 2rem;
}

.gallery-page-item {
  break-inside: avoid;
  margin-bottom: 1.5rem;
  overflow: hidden;
  border-radius: 12px;
  position: relative;
  transition: transform 0.3s ease;
}

.gallery-page-item img {
  width: 100%;
  display: block;
  border-radius: 12px;
  transition: transform 0.4s ease, filter 0.4s ease;
}

.gallery-item-page:hover img {
  filter: grayscale(70%) blur(1px);
  transform: scale(1.03);
}
